<div class="externalDiv">
<div class="innerDiv">
  
  <ul>
  <div class="topnav-left">
      <img src="../assets/image/emirates.jpg" alt="Computer man" style="width:40px;height:40px;">
      </div>

    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
    <div class="topnav-right">
      <li><a href="about.asp">Login</a></li>
    </div>
    
  </ul>
  <!-- <div class="topnav-left"> -->
      <!-- <li><a href="about.asp">Login</a></li> -->
      <!-- <img src="../assets/image/emirates.jpg" alt="Computer man" style="width:60px;height:60px;"> -->
    <!-- </div> -->
</div>

</div>
